p {
  padding-top: 10px;
}

form {
  padding: 20px;
}

h2 {
  padding: 20px;
}

footer {
  font-size: 12px;
  font-style: italic;
}

body {
  background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("img/image.png");
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}